{% extends "base.html" %}

{% block title %}MQTT Config{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
    <div class="form-container" style="max-width: 800px">
    <form action="/mqtt" method="POST">
        <div class="form-group">
            <label for="url">MQTT URL:</label>
            <input type="text" name="url" value="{{ config.url }}" required/>
        </div>
        <div class="form-group">
            <label for="client_id">Client ID:</label>
            <input type="text" name="client_id" value="{{ config.client_id }}" required/>
        </div>
        <div class="form-group">
            <label for="ring_topic">Ring Topic:</label>
            <input type="text" name="ring_topic" value="{{ config.ring_topic }}" required/>
        </div>
        <div class="form-group">
            <label for="status_topic">Status Topic:</label>
            <input type="text" name="status_topic" value="{{ config.status_topic }}" required/>
        </div>
        <div class="form-group">
            <label for="enabled">Enabled:</label>
            <input type="checkbox" name="enabled" value="true" {% if config.enabled %}checked{% endif %} />
        </div>
        <button class="button" type="submit" style="flex: 0 0 auto">
            Update
        </button>
    </form>
    {% if updated %}
        <p class="warning">NVS configuration updated - you must restart to apply new settings</p>
    {% endif %}
    </div>
{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
    <nav class="navbar">
      <a href="/" class="navbar-brand">{{ navbar.title }}</a>

        <!-- Mobile menu button -->
        <button class="mobile-menu-btn" id="mobileMenuBtn">☰</button>

        <!-- Navigation links -->
        <ul class="navbar-links" id="navbarLinks">
          {% for link in navbar.links %}
            <li class="nav-item">
              <a href="{{ link.url }}" class="nav-link">{{ link.label }}</a>
            </li>
          {% endfor %}
        </ul>
    </nav>
{% endblock %}

